#快速开始 
books:
- book_id: '1028755947' #书籍 id，必填
  book_name: 三国请回答！崩坏的三国演义 #书籍名称，选填
  start: 3 #自定义爬取最新章节数, 必填


#进阶
# start: 3 #默认爬取最新章节
# lock: 0 # 0为爬取章节包含免费章节和付费章节，1为只爬取付费章节
# books:
# - book_name: 三国请回答！崩坏的三国演义 #书籍名称，选填
#   book_id: '1028755947' #书籍 id，必填
#   start: 3 #自定义爬取最新章节数，选填
#   total: 0 #强制爬取全部章节，选填
# - book_name: 洪荒历 #书籍名称，选填
#   book_id: '1011940368' #书籍 id，必填
#   #"start": 10 #缺省则取默认 start 值，选填

